html {
    box-sizing: border-box;
    font-size: 16px;
}

*,*:before,*:after {
    box-sizing: inherit;
}
.clearfix {
    clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: violet;
}

body {
  background-color: black;
  color: white;
}

header {
  width: 100%;
  display: inline-block;
  font-size: 22px;
  border-bottom: 1px solid violet;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  float: left;
}

nav {
  float: left;
}

nav ul {

}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {

}

nav ul li a:hover {

}

#main {

}

.navtech {
  background-color: gray;
}

#navtechkat {
  display: none;
}

#navtechalpha {
  display: none;
}

.article pre {
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}



.frontpic {
  width: 250px;


}

.frontpictech {
  width: 80px;
  height: 50px;
}

.latestarticle {

}

.article {
  border-bottom: 1px dashed white;
  margin-bottom: 20px;
}

.articleheader {

}

.articlepic {
  height: 50px;
  float: left;
}

.articletitel {
  height: 50px;
  display: table-cell;
  vertical-align: bottom;
}

.articletitel a {
  font-size: 25px;
}

.articletext {

}

.articletext p {
  margin: 0;
}

.articlereadmore {

}

.articlecreated {

}

.articleedited {

}

footer {
  margin-top: 50px;
}
